body, html{
  height: 100%;
}
.upper {width:100%;height: 40%;
        background-color: #aa0000;}
.kuva {height:100%; float: left;background-color: green;}
div.review {width: 20%;float:left;}
div #footer {background-color: yellow;
            width:100%;
            height: 20%;
            top: 40%;
            position: relative;
            }
.instructions {width: 60%;
               height: 20%;
               background-color: yellow;
               float: left;}
#incredients {width: 40%;
              height: 20%;
              background-color: green;
              float: right;
               }
.imgButton{
       text-align:center;
               }
.but {text-align: center;}
img {width: 100%;float: left; }
