html,body {width: 100%;
height: 100%;
position: fixed;
}

p {text-align: center;}

#upper {background-color: yellow;
        height:200px;
        width:100%;}
#pict   {background-color: green;
        width: 40%;
        height: 100%;
      }
img     {width: 100%;}

#pict-text {width: 20%;
        background-color: blue;
        position:relative;
        right:400px;






  }
button {align: middle;
      }
.grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: grey;
        padding: 10px;
      }
div #footerr {width: 300px;
          height: 300px;
          background-color: green;}
