#testDiv="width: 50px;height:50px;color:red;backround-color:red;"
#textWithPicture="width:20%;"
p .buttonImg {margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    background-color:black;
    color: yellow;
  }
html {}

  #wrapper{
      border: 1px solid black;
  }
  .twoColumn{
       width: 20%;
       float:left;
       border: 1px solid red;
  }
  button{
  /*    width: 50px;
      height: 40px;*/
      background: red;
   }
   div.gallery {
       margin: 5px;
       border: 1px solid #ccc;
       width: 100%;
     /*  width: 180px;*/

   }
   div.desc {
       padding: 15px;
       /*text-align: center;*/
       font-size: 10px;
   }
